.home-grid {
    display: grid !important;
    
    /* geometry */
    margin: 0px 18% 0px;
    height: 93vh;
    
    grid-template-rows: 40% 60%;

}

.ReactTable .-pagination .-btn {
    height: auto;
}

.center-aligned {
    text-align: center;
}